body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #f0f0f0;
  text-align: center;
}

h1 {
  margin-top: 20px;
  font-size: 32px;
  color: #ff9800;
}

h2 {
  font-size: 24px;
  color: #4caf50;
  margin-bottom: 10px;
  border-bottom: 2px solid #4caf50;
}

p,
ul {
  font-size: 16px;
  max-width: 600px;
  margin: auto;
  line-height: 1.5;
}

#canvas-container {
  margin: 20px auto;
  border: 2px solid #4caf50;
  border-radius: 8px;
  background-color: #1e1e1e;
  width: fit-content;
}

footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #202020;
  color: #a0a0a0;
  font-size: 14px;
  border-top: 2px solid #4caf50;
}
